/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix-transform = &five_column_transform; };
};

/ {
    behaviors {
        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <30 31 32 33 34 35 25 26 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <33 34 35 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
        };
    };

    macros {
        super: super {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_COMMAND &kp LCTRL &kp LEFT_ALT &kp LEFT_SHIFT>;
            label = "SUPER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | 
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | 
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | 
            //                    | TAB | LWR | SPC |   | ENT | RSE  | BACKSPACE |

            bindings = <
&kp Q            &kp W              &kp E  &kp R      &kp T               &kp Y               &kp U              &kp I            &kp O           &kp P          &HML LCTRL A  &HML LEFT_META S
&HML LEFT_ALT D  &HML LEFT_SHIFT F  &kp G  &kp H      &HMR RIGHT_SHIFT J  &HMR RIGHT_ALT K    &HMR RIGHT_META L  &HMR RCTRL SEMI  &kp Z           &kp X          &kp C         &kp V
&kp B            &kp N              &kp M  &kp COMMA  &kp DOT             &kp FSLH            &super             &mo 1            &HML TAB SPACE  &kp BACKSPACE  &mo 2         &kp ENTER
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  1  |  2  |  3  |  4   |  5  |   |  6  |  7  |  8  |  9  |  0  |
            // | CTR | GUI | ALT | SHFT |   |   | LFT | DWN |  UP | RGT |     |
            // | BT1 | BT2 | BT3 | BT4  | BT5 |   |     |     |     |     |     |
            //                    |     |     |     |   |     |     |  |

            bindings = <
&kp F1        &kp F2          &kp F3         &kp F4       &kp F5    &kp F6     &kp F7     &kp F8   &kp F9        &kp F10       &kp LCTRL     &kp LEFT_META
&kp LEFT_ALT  &kp LEFT_SHIFT  &trans         &kp LEFT     &kp DOWN  &kp UP     &kp RIGHT  &kp F11  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&bt BT_SEL 5  &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP  &kp END   &kp F12    &trans     &trans   &trans        &trans        &kp INSERT    &kp DEL
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&mt EXCL NUMBER_1   &mt AT NUMBER_2  &mt HASH NUMBER_3  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp LPAR   &kp RPAR           &kp GRAVE              &mt DOLLAR NUMBER_4            &mt PERCENT NUMBER_5
&mt CARET NUMBER_6  &kp EQUAL        &kp GREATER_THAN   &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp EXCLAMATION     &kp QUESTION       &kp PIPE   &mt AMPS NUMBER_7  &mt ASTERISK NUMBER_8  &mt LEFT_PARENTHESIS NUMBER_9  &mt RIGHT_PARENTHESIS NUMBER_0
&kp LESS_THAN       &kp MINUS        &kp UNDER          &trans            &trans             &bt BT_CLR          &kp ESCAPE         &kp TILDE  &trans             &trans                 &trans                         &trans
            >;
        };
    };
};
